@media (max-width: 992px) {

    .duffysignature {
        font-family: 'Shadows Into Light', cursive;
        font-size: 2.5em;
        padding-left: 0px;
        text-align: center;
    }

    .navbar-toggler-icon {
        font-size: 2em;
        margin-left: 50px;
        outline: none;
    }


    .navbar-nav {
        margin-left: 50px;
    }
}
